{% extends "bootstrap/base.html" %}
{% block title %}Comment Filter{% endblock %}

{% block body %}
  {{nav.mynavbar.render()}}
  <div class="container" style="padding-top: 20px; padding-bottom: 20px; background: #ecf0f1; box-shadow: 0 0 5px #7f8c8d">
    <h3>Tentang</h3>
    Program web ini merupakan implementasi dari Support Vector Machine untuk memprediksi komentar cyberbullying dari sebuah video dan juga memfiltrasi komentar dari komentar cyberbullying. Implementasi ini menggunakan bahasa pemrograman Python dengan Framework Flask-Bootstrap versi 3.3.0.7
  </div>
{%- endblock%}