{% extends "bootstrap/base.html" %}
{% block title %}Comment Filter{% endblock %}

{% block body %}
  {{nav.mynavbar.render()}}
  <div class="container" style="padding-top: 20px; padding-bottom: 20px; background: #ecf0f1; box-shadow: 0 0 5px #7f8c8d">
    <h3>Instruksi Penggunaan</h3>
    1. Videoid dari sebuah video youtube ditunjukkan pada ilustrasi berikut <br>
    <img src="https://i.ibb.co/jV1m6zx/gambar1.png" class="img-fluid" alt="Responsive image"><br>
    2. Pilih jenis kernel SVM yang akan digunakan (Default: Linear)<br>
    3. Pilih Nilai C jika anda ingin menggunakan kernel Polynomial/RBF (Default: 0.1)<br>
    4. Pilih Nilai Degree jika anda ingin menggunakan kernel Polynomial (Default: 2)<br>
    5. Input Nilai coef0 jika anda ingin menggunakan kernel Polynomial/Sigmoid (default: 1)
  </div>
  <br>
  <div class="container px-2" style="padding-top: 20px; padding-bottom: 20px; background: #ecf0f1; box-shadow: 0 0 5px #7f8c8d">
  	<form method="post">
  		<div class="form-group">
        <div class="form-row">
          <div class="col">
            <label for="youtube-link">Input VideoID</label>
            <input name="ylink" type="text" class="form-control" id="youtube-link" placeholder="ex : aaaaaaaa-aa">
            <small id="emailHelp" class="form-text text-muted"></small>            
          </div>
        </div>
        <div class="form-row">
          <div class="col">
              <label for="pilih-kernel">Pilihan Kernel SVM</label><br>
              <select name="kernel" id="pilih-kernel" size="3">
                <option value="linear" selected="selected">Linear</option>
                <option value="rbf">RBF</option>
                <option value="sigmoid">Sigmoid</option>
                <option value="poly">Polynomial</option>
              </select>            
          </div>
          <div class="col">
              <label for="pilih-kernel">Nilai C</label><br>
              <select name="nilai_c" id="pilih-kernel" size="3">
                <option value="0.1">0.1</option>
                <option value="1" selected="selected">1</option>
                <option value="10">10</option>
                <option value="100">100</option>
                <option value="100">1000</option>
              </select>            
          </div>
          <div class="col">
              <label for="pilih-kernel">Degree</label><br>
              <select name="degree" id="pilih-kernel" size="3">
                <option value="1">1</option>
                <option value="2" selected="selected">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
              </select>            
          </div>
        </div>
        <div class="form-row">
          <div class="col">
                <label for="youtube-link">Nilai coef0</label>
                <input name="coef0" type="text" class="form-control" id="youtube-link" placeholder="nilai coef0 untuk Polynomial dan Sigmoid" value="1">
                <small id="emailHelp" class="form-text text-muted"></small>  
          </div>   
        </div>
  		</div>
  		<button type="submit" class="btn btn-success">Submit</button>
  	</form>
  </div>
</div>

{% endblock %}
